*.class

.idea
target/
local.properties
debug.log
temp/
.settings
.classpath
.project
QAiOFFICECONNECT.iml
allure-results/*container.json
allure-results/*result.json
allure-results/*attachment*
screenshotsAndRecordings/
test-output/
.scannerwork/